<div class="lg:flex lg:gap-x-6">
    <a href="EventsHome" class="text-xl font-semibold leading-6  m-4">EVENTS</a>
    <a href="Calender" class="text-xl font-semibold leading-6  m-4">CALENDER</a>

</div>